# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# general
*.local

# build output
target

#node project output
node_modules

# tempory values
data

#MacOs folder describer
.DS_Store
